.alldiv{
        margin: 25px 25px 25px 25px;
        padding: 25px 25px 25px 25px;
        
    }
    #div1{
        background-color: lightblue;
    }
    #div2{
        background-color: lightgreen;
    }
    #div3{
        background-color: lightskyblue;
    }
    .hrcontrol{
        width:80%;
        height:4px;
        background:black;
    }