body {
        text-align: center;
        font-family: Calibri;
        margin:0;
        padding:0;
     }

    
nav{
    width:100%;
    text-decoration: none;
    display: inline-block;
    background-color:lightslategray;
    text-align:center;
    }

.controlhref{
    display:inline-block;
    font-size:25px;
    text-decoration: none;
    padding:15px;
    }

.controlhref:hover{
    background-color: #555;
    color:red;
    border-radius:5px;
    }